<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <description>zk与spring容器结合吗, 启动项目时的时候建立与zk的连接</description>

    <!--zk重试策略-->
    <bean id="retryPolicy" class="org.apache.curator.retry.RetryNTimes">
        <!--重试次数-->
        <constructor-arg index="0" value="10"/>
        <!--每次间隔时间-->
        <constructor-arg index="1" value="5000"/>
    </bean>

    <!--zk客户端-->
    <!--工厂方法注入-->
    <bean id="client" class="org.apache.curator.framework.CuratorFrameworkFactory"
          factory-method="newClient" init-method="start">
        <!--zk服务地址-->
        <constructor-arg index="0" value="127.0.0.1:2281,127.0.0.1:2282,127.0.0.1:2283"/>
        <!--会话超时时间-->
        <constructor-arg index="1" value="10000"/>
        <!--创建链接超时时间-->
        <constructor-arg index="2" value="5000"/>
        <!--重试策略-->
        <constructor-arg index="3" ref="retryPolicy"/>
    </bean>

    <!--注入zk客户端-->
    <bean id="zkCurator" class="com.imooc.curator.utils.ZKCurator" init-method="init">
        <constructor-arg index="0" ref="client"/>
    </bean>

    <bean id="distributedLock" class="com.imooc.curator.utils.DistributedLock"
        init-method="init">
        <constructor-arg index="0" ref="client"/>
    </bean>

</beans>